<!--<h3>Top Heroes</h3>
 <div class="col s12 m7">
    <h2 class="header">Top Heroes</h2>

    <div (click)="gotoDetail(hero)" *ngFor="let hero of heroes" class="card horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/10">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">{{hero.name}}</span>
          <p>Click for details</p>
        </div>
        <div class="card-action">
          <a href="#" >Details</a>
        </div>
      </div>
    </div>
  </div>-->
  <h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </div>
</div>
